
.slot{
    width: 30%;
    min-height: 600px;
    float: left;
    border: 2px solid #0abebf;
    padding: 1px;
}
.empty-slot{
    border:  1px dashed #ddd;
}

.slot-list{
    list-style: none;
    padding: 0;
    font-size: 20px;
    cursor:pointer;
    margin: 0;
}
.slot-item{
    padding: 1px 10px;
    border: 1px solid #18a0b7;

}
.slot-item:not(:last-child){
    border-bottom-color: transparent;
}

.slot:not(:last-child){
    margin-right: 3%;
}
.drag-item{
    position: absolute;
    opacity: .8;
}
.placeholder{
    border: 2px dashed #349ce4;
}

